In [1]:
import numpy as np 
import pandas as pd 

df = pd.read_csv('clean_covid.csv')

In [5]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head()

,sex,patient_type,intubed,pneumonia,age,pregnancy,diabetes,copd,asthma,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,1,0,0,0,25,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1,1,0,0,0,52,0,0,0,0,0,0,0,0,1,0,1,1,1,0
2,1,0,0,1,51,0,0,0,0,0,0,0,0,0,0,0,1,1,0
3,1,0,1,1,67,0,1,0,0,0,1,0,0,1,0,0,1,1,0
4,1,0,0,1,59,0,1,0,0,0,0,0,0,0,0,0,1,1,0